//
// VARIABLES
//

// Color Definitions
$white: white;

$primary-dark: hsl(0, 0, 15%);
$secondary-dark: hsl(0, 0, 7%);
$tertiary-dark: hsl(0, 0, 37%);

$primary-light: hsl(0, 0, 98%);
$secondary-light: hsl(0, 0, 88%);
$tertiary-light: hsl(0, 0, 75%);

$primary-transparent: hsla(0, 0%, 100%, 0.1);
$secondary-transparent: hsla(0, 0%, 100%, 0.4);

$primary-blue: hsl(204, 72%, 65%);
$secondary-blue: hsl(194, 100%, 50%);

// Color Variables
$main-background-color: $primary-dark;

$main-text-color: $primary-light;
$site-name-text-color: $white;
$nav-links-text-color: $white;

$header-text-color: $secondary-light;

$post-date-text-color: $tertiary-light;
$site-description-text-color: $tertiary-light;
$blockquote-text-color: $tertiary-light;

$link-text-color: $primary-blue;
$hover-link-color: $secondary-blue;

$post-separator-color: $secondary-transparent;
$footer-banner-background-color: $primary-transparent;
$footer-banner-border-color: $secondary-transparent;

// Fonts
$main-titles-font: Arial, sans-serif;
$main-text-font: "Segoe UI", Arial, sans-serif;
$main-code-font: "Consolas", "Courier New", monospace;

// Mobile breakpoints
@mixin mobile {
	@media screen and (max-width: 640px) {
		@content;
	}
}
